body {
    margin: 0;
    background-color: #121212;
    color: white;
}

.movie-grid {
    display: flex;
    gap: 25px;
    padding: 30px;
    flex-wrap: wrap;
}

.movie-card {
    width: 200px;
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 15px;
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.movie-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.movie-card h2 {
    font-size: 18px;
    margin: 12px 12px 5px;
}

.movie-card p {
    color: #aaa;
    font-size: 14px;
    margin: 0 12px;
}

main > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    background-color: black;
    color: white;
    padding: 20px 30px;
    margin: 0;
}