.movie-grid {
  display: flex;
  gap: 20px;
}

.movie-grid img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

main>h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    background-color: black;
    color: white;
    padding: 10px;
}